* {
	margin: 0;
	padding: 0;
}

body {
 margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
	background-image: url(./geometry.png);
	
}

h6 {
	font-size: 1.4em;
	margin-bottom: 15px;
}

a { color: white; }

ul { list-style: none; margin-bottom: 15px;}

.results-bar {
	padding: 10px;
	color: white;
	background: url(images/result-bar-bg.png) left center;
	white-space: nowrap;
}

span.total-votes {
	font-size: 2.6em;
	
}
.card-selector input{
	position: absolute;
	left: -9999px;
	visibility: hidden;
}

.one{
	background-image: url(./card-template1.png);
}
.two{
	background-image: url(./card-template2.png);
}
.three{
	background-image: url(./card-template3.png);
}
.five{
	background-image: url(./card-template5.png);
}
.eight{
	background-image: url(./card-template8.png);
}
.thirteen{
	background-image: url(./card-template13.png);
}
.twenty{
	background-image: url(./card-template20.png);
}
.inf{
	background-image: url(./card-templateINF.png);
}
.coffee{
	background-image: url(./card-templateCUP.png);
}

.card-selector input:active +.drinkcard-cc{opacity: .9;}
.card-selector input:checked +.drinkcard-cc{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
			
}
.drinkcard-cc{
	    cursor:pointer;
		position: relative;
    background-size: contain;
    background-repeat:no-repeat;
	display: inline;
    
	padding:65px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.4) grayscale(1) opacity(.8);
       -moz-filter: brightness(1.4) grayscale(1) opacity(.8);
            filter: brightness(1.4) grayscale(1) opacity(.8);
}
.drinkcard-cc:hover{
	bottom:15px;
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}
.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1c9bd6), color-stop(1, #0061a7));
	background:-moz-linear-gradient(top, #1c9bd6 5%, #0061a7 100%);
	background:-webkit-linear-gradient(top, #1c9bd6 5%, #0061a7 100%);
	background:-o-linear-gradient(top, #1c9bd6 5%, #0061a7 100%);
	background:-ms-linear-gradient(top, #1c9bd6 5%, #0061a7 100%);
	background:linear-gradient(to bottom, #1c9bd6 5%, #0061a7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1c9bd6', endColorstr='#0061a7',GradientType=0);
	background-color:#1c9bd6;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:15px;
	padding:21px 48px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #1c9bd6));
	background:-moz-linear-gradient(top, #0061a7 5%, #1c9bd6 100%);
	background:-webkit-linear-gradient(top, #0061a7 5%, #1c9bd6 100%);
	background:-o-linear-gradient(top, #0061a7 5%, #1c9bd6 100%);
	background:-ms-linear-gradient(top, #0061a7 5%, #1c9bd6 100%);
	background:linear-gradient(to bottom, #0061a7 5%, #1c9bd6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#1c9bd6',GradientType=0);
	background-color:#0061a7;
}
.myButton:active {
	position:relative;
	top:1px;
}

.Startbutton {
	-moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1c9bd6), color-stop(1, #0061a7));
	background:-moz-linear-gradient(top, #1c9bd6 5%, #0061a7 100%);
	background:-webkit-linear-gradient(top, #1c9bd6 5%, #0061a7 100%);
	background:-o-linear-gradient(top, #1c9bd6 5%, #0061a7 100%);
	background:-ms-linear-gradient(top, #1c9bd6 5%, #0061a7 100%);
	background:linear-gradient(to bottom, #1c9bd6 5%, #0061a7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1c9bd6', endColorstr='#0061a7',GradientType=0);
	background-color:#1c9bd6;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:15px;
	padding:21px 48px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
}
.Startbutton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #1c9bd6));
	background:-moz-linear-gradient(top, #0061a7 5%, #1c9bd6 100%);
	background:-webkit-linear-gradient(top, #0061a7 5%, #1c9bd6 100%);
	background:-o-linear-gradient(top, #0061a7 5%, #1c9bd6 100%);
	background:-ms-linear-gradient(top, #0061a7 5%, #1c9bd6 100%);
	background:linear-gradient(to bottom, #0061a7 5%, #1c9bd6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#1c9bd6',GradientType=0);
	background-color:#0061a7;
}
.Startbutton:active {
	position:relative;
	top:1px;
}


.copyButton {
	-moz-box-shadow:inset 0px 2px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 2px 0px 0px #ffffff;
	box-shadow:inset 0px 2px 0px 0px #ffffff;
	background-color:transparent;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Trebuchet MS;
	font-size:13px;
	font-weight:bold;
	padding:1px 9px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.copyButton:hover {
	background-color:transparent;
}
.copyButton:active {
	position:relative;
	top:1px;
}
.mainButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1c9bd6), color-stop(1, #0061a7));
	background:-moz-linear-gradient(top, #1c9bd6 5%, #0061a7 100%);
	background:-webkit-linear-gradient(top, #1c9bd6 5%, #0061a7 100%);
	background:-o-linear-gradient(top, #1c9bd6 5%, #0061a7 100%);
	background:-ms-linear-gradient(top, #1c9bd6 5%, #0061a7 100%);
	background:linear-gradient(to bottom, #1c9bd6 5%, #0061a7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1c9bd6', endColorstr='#0061a7',GradientType=0);
	background-color:#1c9bd6;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:15px;
	padding:21px 48px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
}
.mainButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #1c9bd6));
	background:-moz-linear-gradient(top, #0061a7 5%, #1c9bd6 100%);
	background:-webkit-linear-gradient(top, #0061a7 5%, #1c9bd6 100%);
	background:-o-linear-gradient(top, #0061a7 5%, #1c9bd6 100%);
	background:-ms-linear-gradient(top, #0061a7 5%, #1c9bd6 100%);
	background:linear-gradient(to bottom, #0061a7 5%, #1c9bd6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#1c9bd6',GradientType=0);
	background-color:#0061a7;
}
.mainButton:active {
	position:relative;
	top:1px;
}
.textButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
	background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
	background-color:#ffffff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.textButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
	background-color:#f6f6f6;
}
./textButton:active {
	position:relative;
	top:1px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}